@model eManager.Web.ViewModels.SiteDataMapViewModel

@{
    ViewBag.Title = "SiteDataMap";
}

<h2>SiteDataMap</h2>

<h4><u> Departments </u></h4>
<table>
    <tr>
        <th></th>
        <th>Title</th>
    </tr>

@foreach (var item in Model.Departments) {
    <tr>
        <td>
            @Html.ActionLink("Select", "SiteDataMap", new { departmentId = item.DepartmentID })
        </td>
        <td>
            @item.Name
        </td>
    </tr>
    }
</table>

<table>
@if (Model.Employees != null && Model.Employees.Count() != 0)
{
    <h4><u> Employees </u></h4>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Hire Date</th>
    </tr>
    foreach (var item in Model.Employees) {
    <tr>
        <td>
            @Html.ActionLink("Select", "SiteDataMap", new {  departmentId = item.DepartmentID, employeeId = item.EmployeeID })
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.HireDate
        </td>
    </tr>
    }
}
</table>

<table>
@if (Model.Dependents != null && Model.Dependents.Count() != 0)
{
    <h4><u> Dependents </u></h4>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Relation</th>
    </tr>
    foreach (var item in Model.Dependents) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Age
        </td>
        <td>
            @item.Relation
        </td>
    </tr>
    }
}
</table>

<h4> Departments</h4>
<select id='deptlist' multiple='multiple'>
    @foreach (var department in Model.Departments)
    {
        <option value=@department.DepartmentID>@department.Name</option>
    }
</select>

<h4> Employees</h4>
<select id='emplist' multiple='multiple'></select>

<script type="text/javascript">

    function reloadList() {
        $('#emplist').multiSelect('destroy');
        $('#emplist').multiSelect();
    }

    function manageItems(operation, selectedValue) {
        $.getJSON("/Home/GetEmployees?DepartmentID=" + selectedValue,
            function (employeeList) {
                $.each(employeeList, function (i, employee) {
                    if (operation == 'add') {
                        $("#emplist").append('<option value="' + employee.Name + '">'
                            + employee.Name + '</option>');
                    }
                    else if (operation == 'remove') {
                        $("#emplist option[value='" + employee.Name + "']").remove();
                    }
                    else
                        alert('invalid operation')

                    reloadList();
                });
            });
    }

    $('#deptlist').multiSelect({
        afterSelect: function (selectedValue) {
            manageItems('add', selectedValue)
        },
        afterDeselect: function (selectedValue) {
            manageItems('remove', selectedValue)
        }
    });

    $('#emplist').multiSelect();

</script>