@model eManager.Web.Models.Service

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Service", "Index", "Service")</li>
    <li class="active">Service - @Model.Id</li>
</ol>

<h4>Service</h4>

<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Id)</td>
        <td>@Html.DisplayFor(model => model.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Title)</td>
        <td>@Html.DisplayFor(model => model.Title)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Header)</td>
        <td>@Html.DisplayFor(model => model.Header)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Description)</td>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>
</table>

<ul class="pager">
    <li class="previous">@Html.ActionLink("Back to List", "Index")</li>
</ul>
