@model IEnumerable<eManager.Domain.Service>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">Services</li>
</ol>

<link type="text/css" rel="stylesheet" href="~/Content/dCodes/dc_tabs.css" />
<script type="text/javascript" src="~/Scripts/dCodes/dc_tabs.js"></script>

<p>
    @Html.ActionLink("Create Service", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="dc_flat_tab_main_container" style="width:90%; height:auto;">
    <ul class="flat_tabs">
        @foreach (var item in Model)
        {
            <li><a href="#@item.Id">@item.Header</a></li>
        }
    </ul>

    <div class="dc_flat_tab_subcontainer" style="height:auto;">
        @foreach (var item in Model)
        {
            <div id="@item.Id" class="dc_flat_tab_content">
                <h2>@item.Title</h2>
                <br /><a href="#"><img src="http://cdn.dcodes.net/p/150x80" /></a>
                @Html.Raw(HttpUtility.HtmlDecode(item.Description))
            </div>
        }
    </div>
<p>&nbsp;</p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Service ID")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit",
                 new { Id = item.Id },
                 new { @class = "btn btn-default btn-xs" }) |
            @Html.ActionLink("Details", "Details",
                 new { Id = item.Id },
                 new { @class = "btn btn-default btn-xs" }) |
            @Html.ActionLink("Delete", "Delete",
                 new { Id = item.Id },
                 new { @class = "btn btn-default btn-xs", data_toggle = "modal", data_target = "#deleteModal" })
        </td>
    </tr>
}
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- /.modal -->