@model IEnumerable<eManager.Web.Models.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<link type="text/css" rel="stylesheet" href="~/Content/dCodes/dc_tabs.css" />
<script type="text/javascript" src="~/Scripts/dCodes/dc_tabs.js"></script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="dc_flat_tab_main_container" style="width:90%; height:auto;">
    <ul class="flat_tabs">
        @foreach (var item in Model)
        {
            <li><a href="#@item.ServiceID">@item.Title</a></li>
        }
    </ul>

    <div class="dc_flat_tab_subcontainer" style="height:auto;">
        @foreach (var item in Model)
        {
            <div id="@item.ServiceID" class="dc_flat_tab_content">
                <h2>@item.Title</h2>
                <br /><a href="#"><img src="http://cdn.dcodes.net/p/150x80" /></a>
                @Html.Raw(HttpUtility.HtmlDecode(item.Description))
            </div>
        }
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceID })
        </td>
    </tr>
}

</table>
