@model IEnumerable<eManager.Web.Models.Department>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">Departments</li>
</ol>

<p>
    @Html.ActionLink("Create Department", "Create", "Department", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-hover">
    <tr>
        <th >
            @Html.ActionLink("Title", "index")
        </th>
        <th>
            @Html.ActionLink("Employees", "index")
        </th>
        <th></th>
    </tr>

    @foreach (var department in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(d => department.Name)
            </td>
            <td>
                @department.Employees.Count
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit",
                    new { DepartmentID = department.DepartmentID },
                    new { @class = "btn btn-default btn-xs" }) |
                @Html.ActionLink("Detail", "Detail",
                    new { DepartmentID = department.DepartmentID },
                    new { @class = "btn btn-default btn-xs" }) |
                @Html.ActionLink("Delete", "Delete",
                    new { DepartmentID = department.DepartmentID },
                    new { @class = "btn btn-default btn-xs" })
            </td>
        </tr>
    }
</table>