@model eManager.Web.ViewModels.CreateEmployeeViewModel

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
    <li class="active">Create</li>
</ol>

@using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create Employee</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.DepartmentId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HireDate, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.HireDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HireDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </fieldset>
}

<ul class="pager">
    <li class="previous">@Html.ActionLink("Back to List", "Index")</li>
</ul>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
