@model PagedList.IPagedList<eManager.Domain.Employee>
@using PagedList.Mvc; 
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">Employees</li>
</ol>

<table class="table table-hover">
    <tr>
        <th>
            @Html.ActionLink("Name", "index", new { sortOrder = ViewBag.NameSort }) 
        </th>
        <th>
            @Html.ActionLink("Hire Date", "index", new { sortOrder = ViewBag.DateSort })
        </th>
        <th></th>
    </tr>

@foreach (var employee in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => employee.HireDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit",
                new { Id = employee.Id },
                new { @class = "btn btn-default btn-xs" }) |
            @Html.ActionLink("Details", "Details",
                new { Id = employee.Id },
                new { @class = "btn btn-default btn-xs" }) |
            @Html.ActionLink("Delete", "Delete",
                new { Id = employee.Id },
                new { @class = "btn btn-default btn-xs", data_toggle = "modal", data_target = "#deleteModal" })
        </td>
    </tr>
}
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- /.modal -->

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager( Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }))